@media screen and (max-width: 427px) {
    .container {
      max-width: 320px;
      padding: 0 16px;
    }
    .header {
      height: 70px;
    }
    .maill-tell {
      display: none;
    }
    .hero-list-navigation {
      display: none;
    }
    .hero-list-navigation {
      display: none;
    }
    .menu-main {
      display: none;
    }
    .menu-main-index {
      display: none;
    }
    .menu-main-index::after {
      display: none;
    }
    .address {
      display: none;
    }
    .address-navig {
      display: none;
    }
    .maill-tell {
      display: none;
    }
    .section-one {
      padding: 112px 0;
    }
    .svg-div-section-two {
      display: none;
    }
    .section-three {
      display: none;
    }
    .hero-module-footer {
      margin-left: 0;
    }
    .footer {
      margin: 0 auto;
    }
    .text-footer-logo {
      margin: 0 auto;
      margin-bottom: 72px;
    }
    .text-footer {
      max-width: 268px;
      margin: 0 auto;
    }
    .hero-logo-footer {
      display: flex;
      justify-content: center;
    }
    .logo-main {
      padding-top: 25.5px;
      padding-bottom: 23.5px;
    }
    .text-footer-two {
      text-align: center;
    }
    .hero-footer-list {
      justify-content: center;
    }
    .footer-size {
      margin-bottom: 72px;
    }
    .paragraph-footer {
      text-align: center;
    }
    .hero-module-footer {
      margin-left: 0;
    }
    .hero-input-footer {
      width: 290px;
      margin-bottom: 16px;
    }
    .hero-label-email {
    }
    .hero-button-footer {
      margin-left: 60px;
    }
    .title-section-one {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
      margin-bottom: 72px;
      width: 290px;
    }
    .section-four {
      padding: 96px 0;
    }
    .hero-list-section-four {
      width: 264px;
      margin: 0 auto;
      display: flex;
      gap: 72px;
      flex-direction: column;
    }
    .container-section-four {
      width: 264px;
    }
    .container-section-four-dublicate {
      padding: 32px 0;
      width: 264px;
    }
    .hero-list-section-five {
      display: flex;
      flex-wrap: wrap;
      gap: 72px 16px;
    }
    .hero-line-section-five {
      width: calc((100% - 16px) / 2);
    }
    .partners-section-five {
      width: 137px;
    }
    .section-five {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .mobile-menu {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-white-color);
      box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      padding: 80px 24px 40px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
    }
    .open-menu {
      border-color: transparent;
      background-color: var(--white-color);
      margin-left: auto;
    }
    .close-menu {
      display: block;
      margin-left: auto;
      margin-bottom: 32px;
    }
    .is-hidden {
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
    }
    .menu-item-link {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--primary-black-color);
      text-transform: capitalize;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      text-decoration: none;
    }
    .menu-item-link-index {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--primary-accent-color);
      text-transform: capitalize;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      text-decoration: none;
    }
    .menu-item-link:hover,
    .menu-item-link:focus {
      color: var(--primary-accent-color);
    }
    .menu-item-link-index:hover,
    .menu-item-link-index:focus {
      color: var(--primary-accent-color);
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    .menu-feedback-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    .menu-feedback-link {
      font-size: 26px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--primary-accent-color);
      text-transform: capitalize;
      text-decoration: none;
    }
    .modal-window {
      width: 290px;
    }
    .hero-textarea-div {
      margin-bottom: 8px;
    }
    .label-checkbox {
      font-size: 8px;
      line-height: 1;
      letter-spacing: 0.02em;
      color: #8e8f99;
    }
    .module-checkbox {
      margin-bottom: 8px;
    }
    .menu-mail-link {
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--primary-grey-color);
      text-decoration: none;
    }
    .menu-links {
      display: flex;
      gap: 30px;
      align-items: center;
      margin-top: 48px;
    }
    .menu-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--primary-accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon {
      fill: var(--primary-white-color);
    }
    .modal-mob {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .section-two {
      padding: 96px 0;
    }
    .svg-div-section-two {
      display: none;
    }
    .hero-list-section-two {
      display: flex;
      flex-direction: column;
      gap: 72px;
    }
    .text-section-two {
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--secondary-accent-color);
      width: 290px;
      font-weight: 500;
      color: var(--secondary-accent-color);
    }
    .title-section-two {
      text-align: center;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
    }
    .text-section-two-dublicate {
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--secondary-accent-color);
    }
    .hero-button-send-checkbox {
      min-width: 135px;
      height: 45px;
      font-size: 14px;
    }
    .container-section-five-media {
      max-width: 320px;
      padding: 0 16px;
      margin: 0 auto;
    }
    .container-section-four-media {
      max-width: 584px;
      padding: 0 16px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 428px) and (max-width: 767px) {
    .container {
      max-width: 428px;
      margin: 0 auto;
      padding: 0 16px;
    }
    .section-one {
      padding: 112px 0;
    }
    .header {
      height: 70px;
    }
    .maill-tell {
      display: none;
    }
    .hero-list-navigation {
      display: none;
    }
    .mobile-menu {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-white-color);
      box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
      padding: 80px 24px 40px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
    }
    .open-menu {
      border-color: transparent;
      background-color: var(--white-color);
      margin-left: auto;
    }
    .close-menu {
      display: block;
      margin-left: auto;
      margin-bottom: 32px;
    }
    .is-hidden {
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
    }
    .menu-item-link {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--primary-black-color);
      text-transform: capitalize;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      text-decoration: none;
    }
    .menu-item-link-index {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--primary-accent-color);
      text-transform: capitalize;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      text-decoration: none;
    }
    .menu-item-link:hover,
    .menu-item-link:focus {
      color: var(--primary-accent-color);
    }
    .menu-item-link-index:hover,
    .menu-item-link-index:focus {
      color: var(--primary-accent-color);
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    .menu-feedback-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    .menu-feedback-link {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--primary-accent-color);
      text-transform: capitalize;
      text-decoration: none;
    }
    .menu-mail-link {
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: var(--primary-grey-color);
      text-decoration: none;
    }
    .menu-links {
      display: flex;
      gap: 56px;
      align-items: center;
      margin-top: 48px;
    }
    .menu-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--primary-accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon {
      fill: var(--primary-white-color);
    }
    .modal-mob {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .menu-main-index {
      display: none;
    }
    .menu-main {
      display: none;
    }
    .maill-tell-one {
      display: none;
    }
    .maill-tell-two {
      display: none;
    }
    .section-three {
      display: none;
    }
    .logo-main {
      padding-top: 25.5px;
      padding-bottom: 23.5px;
      margin-right: 0;
      margin-left: 0;
      display: flex;
      justify-content: flex-start;
    }
    .title-section-one {
      font-size: 36px;
      line-height: 40px;
      letter-spacing: 0.72px;
      text-transform: capitalize;
      margin-bottom: 72px;
      width: 320px;
    }
    .section-two {
      padding: 96px 0;
    }
    .svg-div-section-two {
      display: none;
    }
    .hero-list-section-two {
      display: flex;
      flex-direction: column;
      gap: 72px;
    }
    .text-section-two {
      text-align: left;
      font-weight: 500;
    }
    .title-section-two {
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: 0.72px;
      text-transform: capitalize;
    }
    .text-section-two-dublicate {
      text-align: left;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--secondary-accent-color);
    }
    .section-four {
      padding: 96px 0;
    }
    .hero-list-section-four {
      width: 264px;
      margin: 0 auto;
      display: flex;
      gap: 72px;
      flex-direction: column;
    }
    .container-section-four {
      width: 264px;
    }
    .container-section-four-dublicate {
      padding: 32px 0;
      width: 264px;
    }
    .hero-list-section-five {
      display: flex;
      flex-wrap: wrap;
      gap: 72px 16px;
    }
    .hero-line-section-five {
      width: calc((100% - 16px) / 2);
    }
    .section-five {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .footer {
      margin: 0;
    }
    .text-footer-logo {
      margin: 0 auto;
      margin-bottom: 72px;
    }
    .text-footer {
      max-width: 268px;
      margin: 0 auto;
    }
    .hero-logo-footer {
      display: flex;
      justify-content: center;
    }
    .text-footer-two {
      text-align: center;
    }
    .footer-size {
      margin-bottom: 72px;
    }
    .hero-footer-list {
      justify-content: center;
    }
    .paragraph-footer {
      text-align: center;
    }
    .hero-module-footer {
      margin-left: 0;
    }
    .hero-input-footer {
      width: 398px;
      margin-bottom: 16px;
    }
    .hero-button-footer {
      margin-left: 116px;
    }
    .container-section-five-media {
      max-width: 428px;
      padding: 0 16px;
      margin: 0 auto;
    }
    .container-section-four-media {
      max-width: 428px;
      padding: 0 16px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
      max-width: 768px;
      padding: 0 16px;
    }
    .flex {
      justify-content: flex-start;
    }
    .element {
      flex-basis: calc((100% - 10px) / 2);
    }
    .section-four {
      margin: 0 auto;
    }
    .container-section-four-media {
      max-width: 584px;
      padding: 0 16px;
      margin: 0 auto;
    }
    /*
  |==========================================================================================
  | Section-two                             Section-two                         Section-two
  |==========================================================================================
  */
    .hero-list-section-four {
      flex-wrap: wrap;
      gap: 64px 24px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .hero-line-section-four {
      width: calc((100% - 72px) / 2);
      width: 264px;
    }
    .section-three {
      display: none;
    }
    .address {
      margin-left: auto;
    }
    .address-navig {
      display: block;
    }
    .margin-address {
      margin-bottom: 12px;
    }
    .maill-tell {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.48px;
      color: var(--secondary-accent-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .section-two {
      padding: 96px 0;
    }
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
  
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  
      font-size: 56px;
      line-height: 1.07;
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--primary-white-color);
    }
    .hero-list-section-two {
      display: flex;
      flex-wrap: wrap;
      gap: 72px 24px;
    }
    .line-section-two {
      width: calc((100% - 72px) / 2);
      width: 356px;
    }
    .title-section-one{
      margin-bottom: 36px;
    }
    .svg-div-section-two {
      width: 356px;
      height: 72px;
      border-radius: 4px;
      background: var(--secondary-white-color);
      align-items: center;
      justify-content: center;
      display: flex;
      margin-bottom: 8px;
      display: none;
      width: calc((100% - 24px) / 2);
      flex-wrap: wrap;
    }
    .title-section-two {
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: 0.72px;
      color: var(--primary-black-color);
      margin-bottom: 8px;
    }
    .text-section-two {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      font-weight: 500;
      color: var(--secondary-accent-color);
    }
    .logo-main {
      font-family: var(--title-font);
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--primary-accent-color);
      margin-right: 121px;
      justify-content: start;
      margin-left: 0;
    }
    .section-five {
      padding-top: 96px;
      padding-bottom: 96px;
    }
    .container-section-five-media {
      max-width: 584px;
      padding: 0 16px;
      margin: 0 auto;
    }
    .hero-list-section-five {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 72px 24px;
      display: flex;
    }
    .hero-line-section-five {
      width: calc((100% - 2 * 24px) / 3);
    }
    .footer {
      padding: 96px 0;
    }
    .footer-container-two {
      display: flex;
      flex-wrap: wrap;
      max-width: 584px;
      margin: 0 auto;
    }
    .text-footer-logo {
      margin-bottom: 72px;
      margin-right: 24px;
    }
    .hero-module-footer {
      margin-left: 0px;
    }
    .hero-line-pictures-portfolio {
      width: calc((100% - 26px) / 2);
    }
    .open-menu {
      display: none;
    }
    .container-section-four-dublicate {
      padding: 32px 0;
    }
    .mobile-menu {
      display: none;
    }
    .hero-form {
      display: flex;
    }
    .section-one {
      padding: 112px 0;
    }
  }
  @media screen and (min-width: 1158px) {
    .hero-list-section-two {
      display: flex;
    }
    .hero-list-navigation {
      align-items: center;
    }
    .container {
      max-width: 1158px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .container-section-four-media {
      max-width: 1158px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .container-section-five-media {
      max-width: 1158px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .address-navig {
      display: flex;
      gap: 40px;
    }
    .mobile-menu {
      display: none;
    }
    .open-menu {
      display: none;
    }
    .section-two {
      padding: 120px 0;
    }
    .svg-div-section-two {
      display: flex;
    }
    .hero-list-section-four {
      display: flex;
    }
    .hero-list-section-five {
      display: flex;
      gap: 24px;
    }
    .footer-container-two {
      display: flex;
    }
    .hero-form {
      display: flex;
    }
    .line-section-two {
      width: calc((100% - 72px) / 4);
    }
    .hero-line-section-four {
      width: calc((100% - 72px) / 4);
    }
    .address {
      display: flex;
      margin-left: auto;
    }
  }
  