body {
    font-family: var(--primary-font);
    color: var(--secondary-accent-color);
    background-color: var(--primary-white-color);
  }
  :root {
    --primary-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --primary-black-color: #2e2f42;
    --primary-white-color: #ffffff;
    --secondary-white-color: #f4f4fd;
    --third-white-color: #e7e9fc;
    --primary-accent-color: #4d5ae5;
    --secondary-accent-color: #434455;
    --active-link-color: #404bbf;
  }
  img {
    display: block;
  }
  ul,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  /*
  |==========================================================================================
  | HeadeR                                 HeadeR                                     HeadeR
  |==========================================================================================
  */
  .header {
    border-bottom: 1px solid var(--third-white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .logo-back-main {
    color: var(--primary-black-color);
  }
  .logo-main {
    font-family: var(--title-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    margin-right: 76px;
  }
  .hero-list-navigation {
    display: flex;
    gap: 40px;
  }
  .menu-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    padding: 24px 0;
    display: block;
    gap: 40px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-main-index {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-link-color);
    padding: 24px 0;
    display: block;
    gap: 40px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-main-index::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--active-link-color);
    border-radius: 2px;
  }
  .menu-main:hover,
  .menu-main:focus {
    color: var(--active-link-color);
  }
  .address {
    font-style: normal;
  }
  .address-navig {
    display: flex;
    /*gap: 40px;*/
  }
  .maill-tell {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .maill-tell:hover,
  .maill-tell:focus {
    color: var(--active-link-color);
  }
  /*
  |==========================================================================================
  | Section-one                             Section-one                         Section-one
  |==========================================================================================
  */
  .section-one {
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .title-main-pa {
      background-image: url(../images/office.jpg 2x);
    }
  }
  .title-section-one {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .button-section-one {
    background-color: var(--primary-accent-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .button-section-one:hover,
  .button-section-one:focus {
    background-color: var(--active-link-color);
  }
  /*
  |==========================================================================================
  | Section-two                             Section-two                         Section-two
  |==========================================================================================
  */
  .section-two {
    /*padding: 120px 0;*/
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
  }
  .hero-list-section-two {
    /*display: flex;*/
    gap: 24px;
  }
  /*.line-section-two {
    width: calc((100% - 72px) / 4);
  }*/
  .svg-div-section-two {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--secondary-white-color);
    align-items: center;
    justify-content: center;
    /*display: flex;*/
    margin-bottom: 8px;
  }
  .title-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    margin-bottom: 8px;
  }
  .text-section-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
  }
  /*
  |==========================================================================================
  | Section-three                          Section-three                      Section-three
  |==========================================================================================
  */
  .section-three {
    padding-bottom: 120px;
  }
  .title-section-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-black-color);
    margin-bottom: 72px;
  }
  .hero-list-section-three {
    display: flex;
    gap: 24px;
  }
  .hero-line-section-three {
    width: calc((100% - 48px) / 3);
  }
  /*
  |==========================================================================================
  | Section-four                           Section-four                       Section-four
  |==========================================================================================
  */
  .section-four {
    background-color: var(--secondary-white-color);
    padding: 120px 0;
  }
  .title-section-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-black-color);
    margin-bottom: 72px;
  }
  .hero-list-section-four {
    /*display: flex;*/
    gap: 24px;
  }
  .hero-line-section-four {
    background-color: var(--primary-white-color);
    /*width: calc((100% - 72px) / 4);*/
    border-radius: 0px 0px 4px 4px;
    max-height: 428px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .container-section-four {
    padding: 32px 0;
  }
  .title-workers-section-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    margin-bottom: 8px;
    text-align: center;
  }
  .text-workers-section-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
    text-align: center;
    margin-bottom: 8px;
  }
  .list-svg-section-four {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .svg-section-four {
    width: 40px;
    height: 40px;
  }
  .svg-colorized-section-four {
    width: 100%;
    height: 100%;
    background-color: var(--primary-accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-colorized-section-four:hover {
    background-color: var(--active-link-color);
  }
  .svg-colorized-section-four:focus {
    background-color: var(--active-link-color);
  }
  .svg-tranform-section-four {
    fill: var(--secondary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*
  |==========================================================================================
  | Section-five                           Section-five                       Section-five
  |==========================================================================================
  */
  .section-five {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-section-five {
    color: var(--primary-black-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .hero-list-section-five {
    /*display: flex;*/
  }
  .hero-line-section-five {
    height: 88px;
    width: calc((100% - 120px) / 6);
  }
  .partners-section-five {
    border-radius: 4px;
    border: 1px solid var(--lightslate, #8e8f99);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    fill: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-section-five {
    fill: currentColor;
  }
  .partners-section-five:hover,
  .partners-section-five:focus {
    border-color: var(--active-link-color);
    color: var(--active-link-color);
    fill: var(--active-link-color);
  }
  /*
  |==========================================================================================
  | Footer                                     Footer                                 Footer
  |==========================================================================================
  */
  .footer {
    background-color: var(--primary-black-color);
    padding: 100px 0;
  }
  .footer-container-two {
    /*display: flex;*/
    align-items: baseline;
  }
  .text-footer-logo {
    margin-right: 120px;
  }
  .hero-logo-footer {
    font-family: var(--title-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
    display: inline-block;
    margin-bottom: 16px;
  }
  .logo-back-footer {
    color: var(--secondary-white-color);
  }
  .text-footer {
    line-height: 1.5;
    color: var(--secondary-white-color);
    letter-spacing: 0.02em;
    max-width: 264px;
  }
  .footer-size {
    margin-left: 0;
  }
  .text-footer-two {
    color: var(--primary-white-color);
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }
  .hero-footer-list {
    display: flex;
    gap: 16px;
  }
  .footer-line {
    width: 40px;
    height: 40px;
  }
  .svg-url-footer {
    height: 100%;
    width: 100%;
    background-color: var(--primary-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-url-footer:hover,
  .svg-url-footer:focus {
    background-color: #31d0aa;
  }
  .hero-svg-fill-footer {
    fill: var(--secondary-white-color);
  }
  .hero-module-footer {
    margin-left: 80px;
  }
  .paragraph-footer {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
  }
  .hero-form {
    /*display: flex;*/
    gap: 24px;
  }
  .hero-input-footer {
    width: 264px;
    height: 40px;
    border: 1px solid var(--primary-white-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);
  }
  .hero-input-footer::placeholder {
    color: var(--primary-white-color);
  }
  .hero-button-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    cursor: pointer;
    background-color: var(--primary-accent-color);
    border: none;
    border-radius: 4px;
  }
  .hero-button-footer:hover {
    background-color: var(--active-link-color);
  }
  .hero-footer-planer {
    margin-left: 16px;
  }
  /*
  |==========================================================================================
  | Modal-Window                            Modal-Window                        Modal-Window
  |==========================================================================================
  */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
  }
  .button-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-modal:hover,
  .button-modal:focus {
    background-color: var(--active-link-color);
    fill: var(--primary-white-color);
    border: none;
  }
  .svg-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-text-module {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    margin-bottom: 16px;
  }
  .hero-form-main {
    margin-bottom: 8px;
  }
  .module-form-one {
    gap: 24px;
  }
  .hero-label-module {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
  }
  .hero-div-mail-module {
    position: relative;
  }
  .hero-svg-module {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-black-color);
  }
  .hero-input-text-module {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-input-text-module:focus {
    border-color: var(--primary-accent-color);
  }
  .hero-input-text-module:focus + .hero-svg-module {
    fill: var(--primary-accent-color);
  }
  .textarea-module {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
  }
  .textarea-module:focus {
    border-color: var(--primary-accent-color);
  }
  .module-checkbox {
    margin-bottom: 8px;
  }
  .input-checkbox:checked + .label-checkbox .label-checkbox-span {
    background-color: var(--active-link-color);
    border: none;
    fill: var(--secondary-white-color);
  }
  .hero-checkbox-text {
    color: var(--primary-accent-color);
  }
  .hero-button-send-checkbox {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    cursor: pointer;
    background-color: var(--primary-accent-color);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
  }
  .button-form-tree:hover {
    background-color: var(--active-link-color);
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .label-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
  }
  .hero-textarea-div {
    margin-bottom: 16px;
  }
  /*
  |==========================================================================================
  | Portfolio                                Portfolio                            Portfolio
  |==========================================================================================
  */
  .menu-main-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--active-link-color);
    padding: 24px 0;
    display: block;
    gap: 40px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-main-portfolio::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    margin-top: 20px;
    background-color: var(--active-link-color);
    border-radius: 2px;
  }
  .section-one-portfolio {
    background-color: var(--primary-white-color);
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .hero-list-buttons-portfolio {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .hero-line-bottons-portfolio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button-portfolio {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-accent-color);
    background-color: var(--secondary-white-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--third-white-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button-portfolio:hover,
  .hero-button-portfolio:focus {
    color: var(--primary-white-color);
    background-color: var(--active-link-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .hero-list-pictures-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .hero-line-pictures-portfolio {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-shadows-pictures-portfolio {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-shadows-pictures-portfolio:hover,
  .hero-shadows-pictures-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .hero-shadows-pictures-portfolio:hover
    .hero-text-modal-window-pictures-portfolio,
  .hero-shadows-pictures-portfolio:focus
    .hero-text-modal-window-pictures-portfolio {
    transform: translateY(0%);
  }
  .hero-div-pictures-portfolio {
    position: relative;
    margin: 0 auto;
    width: 360px;
    height: 300px;
    overflow: hidden;
  }
  .hero-div-pictures-portfolio:hover .hero-text-modal-window-pictures-portfolio {
    transform: translatey(0);
  }
  .hero-text-modal-window-pictures-portfolio {
    color: var(--secondary-white-color);
    background-color: var(--primary-accent-color);
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .text-title-bottom-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--third-white-color);
    border-top: none;
  }
  .hero-title-pictures-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
    margin-bottom: 8px;
  }
  .hero-text-pictures-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
  }
  .photo {
    text-decoration: none;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
  }