body {
    font-family: var(--primary-font);
    color: var(--secondary-accent-color);
    background-color: var(--primary-white-color);
}

:root {
    --primary-font: "Roboto", sans-serif;
    --title-font: "Raleway", sans-serif;
    --primary-black-color: #2e2f42;
    --primary-white-color: #ffffff;
    --secondary-white-color: #F4F4FD;
    --primary-accent-color: #4d5ae5;
    --secondary-accent-color: #434455;
    --active-link-color: #404bbf;
    --third-white-color: #e7e9fc;
    --grey-second-link: #8e8f99;
    --green-active-one: #31d0aa;
    --background-modal: #fcfcfc;
}

.logo {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    color: var(--primary-accent-color);
    text-decoration: none;
    text-transform: uppercase;
}

.logoback {
    color: var(--primary-black-color);
}

.page-header {
    border-bottom: 1px solid var(--secondary-white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-back {
    color: var(--secondary-white-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.menu {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-black-color);
}

.menu:hover,
.menu:focus {
    color: var(--active-link-color);
}
.menust::after {
content: "";
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
width: 100%;
display: block;
margin-top: 20px;
background: var(--active-link-color);
border-radius: 2px;
}
.menust {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--active-link-color);
}

.to-get-in-touch {
    font-style: normal;
    margin-left: 332px;
}

.maill {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--secondary-accent-color);
}

.maill:hover,
.maill:focus {
    color: var(--active-link-color);
}

.filter {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 12px 24px;
    border: 1px solid var(--third-white-color);
    border-radius: 4px;
    margin: 0 auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-accent-color);
    background-color: var(--secondary-white-color);
    cursor: pointer;
}

.filter:hover,
.filter:focus {
    color: var(--primary-white-color);
    background-color: var(--active-link-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.text-two {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
}

.text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-accent-color);
}

.pagefooter {
    padding: 100px 0;
    background-color: var(--primary-black-color);
    margin-top: 120px;
}

.text-footer {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    color: var(--secondary-white-color);
}

.heading {
    font-family: var(--primary-font);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    color: var(--primary-white-color);
}

.sec {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    padding: 188px 0;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

.descrptn {
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--primary-black-color);
}

.team-sec {
    background-color: var(--secondary-white-color);
}

.imgli {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.ordr {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--primary-white-color);
    background-color: var(--primary-accent-color);
}

.ordr:hover,
.ordr:focus {
    background-color: var(--active-link-color);
}

.page-header {
    border-bottom: 1px solid var(--third-white-color);
    display: flex;
    height: 72px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
}

ul,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.navig {
    display: flex;
    align-items: center;
}

.mnl {
    display: flex;
    gap: 40px;
}

.mnk {
    display: flex;
    gap: 40px;
}

.sect {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mndh {
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.qual {
    width: calc((100% - 72px) / 4);
}

.qualdiv {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--secondary-white-color);
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 100px 24px;
    margin-bottom: 8px;
}
.sectn {
    padding-bottom: 120px;
}

.mndn {
    display: flex;
    gap: 24px;
}

.images {
    width: calc((100% - 48px) / 3);
}

.team-sec {
    padding: 120px 0;
}

.mndnk {
    display: flex;
    gap: 24px;
}

.elements {
    gap: 8px;
    padding: 32px 0;
}

.logo-footer {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    color: var(--primary-accent-color);
    text-decoration: none;
    text-transform: uppercase;
}

.text-workers {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: var(--primary-black-color);
}

.textpr {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    width: 264px;
    color: var(--secondary-accent-color);
}

.mainn {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btns {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.card {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.pcards {
    padding: 32px 16px;
    border: 1px solid var(--third-white-color);
    border-top: none;
}

.logofooter {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
    color: var(--primary-accent-color);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.pagemainfooter {
    padding: 100px 0;
    background-color: var(--primary-black-color);
    max-height: 312px;
}
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.teamsvg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;  
}
.svg-teamli {
    border-radius: 50%;
    background-color: var(--primary-accent-color);
    width: 40px;
    height: 40px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
}
.svg-teamli:hover,
.svg-teamli:focus {
    background-color: var(--active-link-color);
   
} 
.teamli-fill{
    fill: var(--secondary-white-color);
}
.svg-sectionfive {
    padding-top: 120px;
    padding-bottom: 120px;
}
.foot {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.foot-listsvg {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--grey-second-link);
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--grey-second-link);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-listsvg:hover,
.foot-listsvg:focus {
    border-color: var(--active-link-color);
    color: var(--active-link-color);
}

.footer-heading {
    font-family: var(--primary-font);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: var(--primary-white-color);
}
.moresvg {
display: flex;
gap: 16px;

}
.footfillsvg {
    fill: currentColor;
}
.logopf {
    margin-right: 120px;
}
.footercnt {
    display: flex;
    align-items: baseline;
}
.footteamli:hover,
.footteamli:focus {
    background-color: var(--green-active-one);
}
.iconfill {
    fill: var(--secondary-white-color);
}
.modal-w {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.datamodal-t {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: var(--background-modal);
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonmodal-cl {
    position: absolute;;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonmodal-cl:hover,
.buttonmodal-cl:focus {
background-color: var(--active-link-color);
fill: var(--primary-white-color);
border: none;
}
.svgcross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf:hover,
.portf:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.pover:hover,
.pover:focus {
    transform: translateY(0%);
}
.imgcardp {
position: relative;
overflow: hidden;
}
.pover {
    position: absolute;;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-white-color);
    padding: 40px 32px;
    background-color: var(--primary-accent-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf:hover .pover,
.portf:focus .pover {
    transform: translateY(0%);
}
.strip {
    display: flex;
    width: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.stdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-foot {
    margin-left: 80px;
}

.inpf {
    border-radius: 4px;
    border: 1px solid var(--primary-white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: var(--primary-white-color);
    background-color: transparent;;
}
.inpf::placeholder {
    color: var(--primary-white-color);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    padding: 8px;
}
.subsc-button {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 24px;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--primary-accent-color);
}
.form-subsc {
    display: flex;
    gap: 24px;
}
.icon-mail {
    margin-left: 16px;
}
.data-heading {
    color: var(--primary-black-color);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
    letter-spacing: 0.32px;
    width: 360px;
    height: 24px;
}

.data-modal-form {
    display: flex;
    flex-direction: column;
}
.data-modal-form {
    display: flex;
    width: 360px;
    margin-top: 16px;
    margin-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
}
.lab-mod {
    color: var(--grey-second-link);
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    line-height: 1.17;
    display: block;
    margin-bottom: 4px;
}
.mod-int {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-int:focus{
    border-color: var(--primary-accent-color);
}
.svg-wrap {
    position: relative;
}
.form-one-svg {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-int:focus .form-one-svg {
    fill: var(--primary-accent-color);
}
.arr-tw {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
        border-radius: 4px;
        width: 360px;
        line-height: 1.17;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        height: 120px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arr-tw:focus {
border-color: var(--primary-accent-color);
}

.arr-tw::placeholder {
    color: var(--grey-second-link);
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}
.svg-labell {
    margin-bottom: 8px;
}
.pol-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey-second-link);
}
